.project_logo{
    font-family: 'Lobster', cursive;
}

.project_footer_button{
    font-size: .9rem;
}

.project_footer{
    text-align:center;
    margin-top: 2rem;
}

.project_header{
    text-align:center;
    margin: 2rem 0;
}